@using MashtiHasanRestaurant.Core.DTOs
@model RegisterViewModel

@{
    ViewData["Title"] = "ثبت نام";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="css/style.css">
<div class="m-2" >
<div class="d-lg-flex halff">
    <!-- Background Image -->
    <div class="bg order-1 order-md-2" style="background-image: url('@Url.Content("~/images/bg_1.jpg")');"></div>

    <!-- Form Content -->
    <div class="contents order-2 order-md-1">
        <div class="container Register owl-rtl">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <h3>عضویت در <strong>رستوران مشتی حسن</strong></h3>
                    <p class="mb-4">برای عضویت در سایت، فرم زیر را پر کنید.</p>

                    <!-- Registration Form -->
                    <form asp-action="Register" method="post">
                        <!-- Customer Name Input -->
                        <div class="form-group">
                            <label for="CustomerName">نام و نام خانوادگی</label>
                            <input asp-for="CustomerName" type="text" class="form-control" placeholder="نام و نام خانوادگی">
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>

                        <!-- Mobile Input -->
                        <div class="form-group">
                            <label for="Mobile">موبایل</label>
                            <input asp-for="Mobile" type="text" class="form-control" placeholder="موبایل">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>

                        <!-- Tel Input -->
                        <div class="form-group">
                            <label for="Tel">تلفن</label>
                            <input asp-for="Tel" type="text" class="form-control" placeholder="تلفن">
                            <span asp-validation-for="Tel" class="text-danger"></span>
                        </div>

                        <!-- Contact Title Input -->
                        <div class="form-group">
                            <label for="ConcatTitle">عنوان تماس</label>
                            <input asp-for="ConcatTitle" type="text" class="form-control" placeholder="عنوان تماس">
                            <span asp-validation-for="ConcatTitle" class="text-danger"></span>
                        </div>

                        <!-- Address Input -->
                        <div class="form-group">
                            <label for="Address">آدرس</label>
                            <input asp-for="Address" type="text" class="form-control" placeholder="آدرس">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <!-- Password Input -->
                        <div class="form-group">
                            <label for="Password">رمز عبور</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- RePassword Input -->
                        <div class="form-group">
                            <label for="RePassword">تکرار رمز عبور</label>
                            <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور">
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>

                        <!-- Validation Summary -->
                        <div asp-validation-summary="All" class="text-danger"></div>

                      

                        <!-- Submit Button -->
                        <button class="btn btn-primary btn_Register">عضویت در سایت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>