@font-face {
    font-family: 'BYekan';
    src: url('fonts/BYekan-webfont.eot') format('eot'), url('fonts/BYekan-webfont.woff') format('woff'), url('fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'BYekan';
    direction:rtl;
}
.img_food {
    width: 300px;
    height: 300px;
}

.row .Circl {
    display: flex;
    justify-content: space-around;
}
.circle__spin {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 140px;
    height: 140px;
}

    .circle__spin svg {
        width: 100%;
        height: 100%;
        animation: spin 10s linear infinite;
    }

    .circle__spin circle {
        stroke-width: 5;
        stroke-dasharray: 120, 20;
        fill: none;
        stroke: orange;
    }

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.menu-background {
    background-color: #df1529;
}
.circle {
    position: relative;
    margin: 20px;
    height: 120px;
    width: 120px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .circle p {
        position: absolute;
        margin: 0;
        font-size: 16px;
        color: white;
        pointer-events: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the text */
    }
