@using MashtiHasanRestaurant.Core.Services.Interface
@inject IFoodService FoodService

<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="assets/img/Logo.jpeg" alt="">
          @*   <h1 class="sitename">مشتی حسن</h1> *@
           
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">خانه<br></a></li>
                <li class="dropdown">
                    <a href="#"><span>دسته بندی</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        @foreach (var category in FoodService.GetAllCategories())
                        {
                            <li>
                                <a href="/ShowGroup/@category.CategoryId">
                                    @category.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#menu"><span>منو</span><i class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <li>
                            <a href="/GetFoods">لیست غذاها</a>
                        </li>
                        <li>
                            <a href="/AddFood">افزودن غذا</a>
                        </li>
                    </ul>

                </li>

                <li><a href="#about">مدیریت</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" asp-action="Register" asp-controller="Accounting">عضویت</a>

    </div>
</header>
