<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Style" />
    <partial name="_MetaTags" />
    <title>@ViewData["Title"] - MashtiHasanRestaurant</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MashtiHasanResturant.styles.css" asp-append-version="true" />
</head>
<body dir="rtl">
    <header>
        <partial name="_Header" />
    </header>
    <div >
      @*   <div class="col-md-3">
            @await Component.InvokeAsync("ProductGroupsComponent")
        </div> *@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
