<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Style" />
    <partial name="_MetaTags" />
    <title>@ViewData["Title"] - رستوران مشتی حسن</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MashtiHasanResturant.styles.css" asp-append-version="true" />
</head>
<body dir="rtl">
    <div class="modal" tabindex="-1" id="mainModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="dvModalContent">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                  @*   <button type="button" class="btn btn-primary">Save changes</button> *@
                </div>
            </div>
        </div>
    </div>
    <header>
        <partial name="_Header" />
    </header>
    <div >
      @*   <div class="col-md-3">
            @await Component.InvokeAsync("ProductGroupsComponent")
        </div> *@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
